* {
    font-family: monospace;
    font-weight: 100;
    font-size: 20px;
}

body {
    padding: 50px;
    background-color: #9e8db9;
}

.contenedor {
    background-color: rgb(207, 189, 226);
    border-style: double;
    border-radius: 30px;
    margin: auto;
    height: 400px;
    width: 500px;
    padding: 15px;
    text-align: center;
    box-shadow: 20px 20px 20px #000;
}

div {
    padding: 5px;
    margin: 1px;
}

.cantidad, .precio{
    width: 377px;
    display: block;
    margin: auto;
}

.resultado {
    background-color: #fff;
    height: 50px;
    width: 490px;
    margin: 1px;
}

input[type="submit"] {
    margin-top: 10px;
}

input:hover {
    color: #fff;
    background-color: #000;
    transition: 0.5s;
}